body{
color: blueviolet;
background-color: azure;
}
header{
    border-bottom: solid 2px rgb(rgb(0, 0, 0));
 padding: 20px;
 font-size: 32px;   
 color: black;
 background-color: rgb(177, 141, 212);
}
.chamada{
    
  background: black;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  background: rgb(177, 141, 212);
  justify-content: center;
}